<!DOCTYPE html>
<html lang="en">
  <%- include('./inc/head.ejs') %>

  <body>
    <!-- NAVBAR -->
    <%- include('./inc/navbar.ejs') %>
    <br />
    <!-- HOME -->
    <%- include('./inc/home.ejs') %>

    <br />

    <!-- RESUME -->
    <%- include('./inc/resume.ejs') %>

    <!-- FOOTER -->
    <%- include('./inc/footer.ejs') %>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/Headroom.js"></script>
    <script src="js/jQuery.headroom.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>
