<!DOCTYPE html>
<html lang="en">

<%-include('./inc/head') %>

<body id="page-top">
  <!-- Navigation-->
  <%-include('./inc/navbar') %>
  <!-- Masthead-->
  <%-include('./inc/masthead') %>
  <!-- About Section-->
  <%-include('./inc/about') %>
  <!-- Portfolio Section-->
  <%-include('./inc/portfolio') %>
  <!-- Blog Section-->
  <%-include('./inc/blog') %>
  <!-- Contact Section-->
  <%-include('./inc/contact') %>
  <!-- Footer-->
  <%-include('./inc/footer') %>
  <!-- Copyright Section-->
  <%-include('./inc/copyright') %>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script src="scripts/scripts.js"></script>
  <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>

</html>